.action-sheets-basic-page {
    .ion-md-create{
        color: orange;
    }
    .ion-md-trash{
        color: #ED4248;
    }
    .ion-md-analytics{
        color: #ED4248;
    }
    .ion-md-share {
        color: #508AE4;
    }
    .ion-md-add-circle {
        color: #32db64;
    }
    .action-sheet-cancel ion-icon{
        color: #757575;
    }
}