<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (tap)="showOptions()" >
        <ion-icon name="apps"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  
  <div  *ngIf="records.length != 0">

    <ion-card *ngFor="let record of records">

      <ion-card-content>
        Point description: {{ record.Comment }}
        <br>
        Latitude: {{record.Latitude}}
        <br>
        Longitude: {{ record.Longitude }}
        <br>
        Distance: {{ record.Distance }}
        <br>
        Bearing: {{ record.Bearing }}
        <br>
        Cumulative Distance: {{ record.CumulativeDistance }}
      </ion-card-content>
    
    </ion-card>

  </div>

  <div *ngIf="records.length == 0">
    <h3>No Records yet.</h3>
  </div>
  
</ion-content>